doctype html
html(lang='ja')
	head
		meta(charset='utf-8')
		title overlay--fixed-after-touching-header
		link(rel='stylesheet',href='./css/base.css')
	body
		.wrapper
			header.gheader
				h1 overlay--fixed-after-touching-header

			.entry-content
				p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト

			.ad
				a(href='http://yahoo.co.jp/') AD

			.entry-content
				p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト

		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
		script(src='./js/base.js')