@charset "utf-8"

/* Setting for Sample Verification */
.wrapper
	padding 0 0 800px 0

	& > h1
		font-size 20px

/** 
 * Init: common styles
 * [TODO] 別ファイルで共通化する
 */
.ad
	position fixed
	bottom 0
	left 0
	width 100%
	text-align center

	a
		display block
		padding 8px
		background #f00
		text-decoration none
		font-weight bold
		&:hover
			background #000
			color #fff
/**
 * Each Style: styles needed this AD pattern
 */
.ad
	display: none;
